:root {
    --col-body: #dedede;
    --col-dim: #7D8A81;
    --col-secondary: #FF499E;
    --col-accent: #FFC60A;

    --col-header: #14F5AA;
    --col-border: #2C7B61;
    --col-hover: #14F5AA99;

    --col-ok: #14F5AA;
    --col-meh: #FFC60A;
    --col-wait: #7D8A81;
    --col-bad: #DD3333;

    --bg-ok: #14F5A499;
    --bg-meh: #FFC60A99;
    --bg-wait: #7D8A81;
    --bg-bad: #DD3333;

    --bg-0: #000000;
    --bg-1: #121714;
    --bg-2: #1B221E;
    --bg-3: #293D3A;
    --bg-4: #44554a;
    --bg-hover: #224433;

    --flag-ca: #D80621;

    --font-header: 20px;
    --font-text: 18px;
    --font-small: 15px;
    --font-tiny: 12px;

    --ff-header: 'ProFont';
    --ff-body: 'Exo2';
    --ff-info: 'ProFont';
    --ff-mono: 'ProFont';
    --ff-button: 'ProFont';

    --border-panel: 3px;
    --border-small: 2px;
    --border-hr: 1px;

    --round-panel: 12px;
    --round-button: 6px;

    --pad-ui: 8px;
    --pad-text: 4px;
    --pad-tiny: 2px;
}

body {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    margin: 0px;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'ProFont';
    src: url('/src/assets/ProFont.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo2';
    src: url('/src/assets/Exo2.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

.stripes {
  background: repeating-linear-gradient(
    -45deg,
    var(--bg-1),
    var(--bg-1) 20px,
    var(--bg-2) 20px,
    var(--bg-2) 40px
  );
  animation: move-stripes 5s linear infinite;
  background-size: 56.57px 56.57px;
}

.stripes-sm {
  background: repeating-linear-gradient(
    -45deg,
    var(--bg-1),
    var(--bg-1) 5px,
    var(--bg-2) 5px,
    var(--bg-2) 10px
  );
  background-size: 56.57px 56.57px;
}

@keyframes move-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 56.57px 0;
  }
}
