:root {
    --black: #000000;
    --col-bg: #121714;
    --col-bg2: #1B221E;
    --col-error: #AA2222;
    --col-error2: #66221E;
    --col-border: #2C7B61;
    --col-header: #14F5AA;
    --col-body: #dedede;
    --col-dim: #E2FBEB66;
    --secondary: #FF499E;
    --accent: #FFC60A;

    --font-header: 20px;
    --font-text: 16px;
    --font-tiny: 12px;

    --ff-header: 'ProFont';
    --ff-body: 'ProFont';
    --ff-info: 'ProFont';
    --ff-mono: 'ProFont';

    --border-panel: 3px;
    --border-small: 2px;
    --border-hr: 1px;

    --round-panel: 12px;
    --round-button: 4px;

    --pad-ui: 8px;
    --pad-text: 4px;
    --pad-tiny: 2px;
}

body {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    margin: 0px;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'ProFont';
    src: url('/src/assets/ProFont.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

.stripes {
  background: repeating-linear-gradient(
    -45deg,
    var(--col-bg),
    var(--col-bg) 20px,
    var(--col-bg2) 20px,
    var(--col-bg2) 40px
  );
  animation: move-stripes 5s linear infinite;
  background-size: 56.57px 56.57px;
}

@keyframes move-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 56.57px 0;
  }
}
